body {
    margin: 0;
    padding: 0;
}

main {
    padding: 2em;
}

nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    height: 10vh;
    width: 100%;
    background: black;
    display: block;
    z-index: 1;
    opacity: 0.80;
}

nav a {
    display: inline-block;
    padding: 0px 20px;
    align-content: center;
    height: 100%;
    color: whitesmoke;
}

nav a:hover {
    background: orange;
    color: whitesmoke;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("./wildy.jpg");
    height: 60vh;
    background-position-y: 15%;
    background-position-x: 90%;
    background-blend-mode: overlay;
}

.cards {
    --grid-max-col-count: 3;
    --grid-min-col-size: 300px;
    --grid-gap: 1em;

    --grid-col-size-calc: calc((100% - var(--grid-gap) * var(--grid-max-col-count)) / var(--grid-max-col-count));
    --grid-col-min-size-calc: min(max(var(--grid-min-col-size), var(--grid-col-size-calc)), 100%);

    display: grid;
    grid-gap: var(--grid-gap);
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    grid-template-columns: repeat(
        auto-fit, 
        minmax(var(--grid-col-min-size-calc), 1fr)
    );
    grid-auto-rows: minmax(150px, auto);
}

.card {
    box-shadow: 2px 2px 10px 3px whitesmoke;
    color: darkslategray;
    border: 1px solid whitesmoke;
    transition: 1s ease;
}

.card:hover {
    background: orange;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 10px 3px whitesmoke;
}

.card-header {
    height: 20%;
    font-size: .8rem;
    line-height: 30px;
    font-weight: bold;
    padding-left: 1em;
    display: grid;
    grid-auto-flow: column;
    padding: 0px 2em;
    justify-content: space-between;
}

.card-header > span {
    align-self: center;
}

.card-header > span:nth-child(2) {
    font-size: 0.7em;
    background: dodgerblue;
    padding: 0px 1em;
    border-radius: 5px;
    color: white;
    line-height: 20px;
}

.card-body {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card-icon {
    margin: auto;
    scale: 2.0;
}

.card-stats > ul {
    font-size: 0.7rem;
    list-style: none;
}
